<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ichou.trace</string>
	<key>connections</key>
	<dict>
		<key>0A04DEF2-C41B-4F12-88E5-146DE053D89A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5FC791A7-9A51-4BFB-BC0D-93167FF8AF3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A04DEF2-C41B-4F12-88E5-146DE053D89A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6CC12CB4-BC78-498A-8B8D-11B2542EF292</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>iChou</string>
	<key>description</key>
	<string>快速切换系统代理配置</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Trace (Proxy-helper)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># This is a way that needs you type your password everytime.
do shell script "./trace.sh {query}" with administrator privileges</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A04DEF2-C41B-4F12-88E5-146DE053D89A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>trace</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>I am the bone of my sword...</string>
				<key>script</key>
				<string>sh trace.sh list_proxy {query}</string>
				<key>subtext</key>
				<string>卫宫士郎固有技能——投影</string>
				<key>title</key>
				<string>Trace</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5FC791A7-9A51-4BFB-BC0D-93167FF8AF3B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string># This is a way to save you from typing password everytime.
#
# But you need to add the following line to `/etc/sudoers/`
#	yourusername ALL=NOPASSWD: /usr/sbin/networksetup
# 
# e.g.
#	IChou ALL=NOPASSWD: /usr/sbin/networksetup
#
# Remeber the file `/etc/sudoers/` must be end with a empty line!!
#

do shell script "./trace.sh {query}"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6CC12CB4-BC78-498A-8B8D-11B2542EF292</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Trace (Proxy-helper).alfredworkflow

在 Mac 上切换代理是一件麻烦的事情，然而不幸的是一旦你有了这个需求往往也意味着你需要频繁进行这个操作

于是我造了这个偷懒用的 alfredworkflow

希望有人能用得着

Quickly start

Download

https://github.com/IvanChou/trace.alfredworkflow/raw/master/Trace(Proxy-helper).alfredworkflow

Setting

Doubule click trace in Alfred Workflows Preferences
Click Open workflow folder to open Finder
Open proxy.conf and modify like sample
Use

Call out your alfred, and type trace


Enjoy it!

More feature

When you change your proxy setting via Trace, OSX may ask your password to allow this operation everytime. There is no better way to slove the question, but let trace keep your password.

Open trace.sh , set your password

# set your password, avoid to be asked every time.
PWD='yourpwd'
It's unsafe, but quite convenient. By the way, if nobody has been told, is there anyone know your password has been shown here?

About Trace

It's inspired by Fate. "Trace on!"</string>
	<key>uidata</key>
	<dict>
		<key>0A04DEF2-C41B-4F12-88E5-146DE053D89A</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>5FC791A7-9A51-4BFB-BC0D-93167FF8AF3B</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>6CC12CB4-BC78-498A-8B8D-11B2542EF292</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>yii.im</string>
</dict>
</plist>
