[SddmGreeterTheme]
Name=Sequoia
Description=A modern nerd-font based SDDM theme
Author=minMelody
Copyright=Copyright (C) 2024 minMelody
License=GPLv3
Type=sddm-theme
Version=1.4
Website=https://github.com/minMelody/sddm-sequoia
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=sequoia
Theme-API=2.15
QtVersion=6
