<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>2A842206-2A0F-495C-AC54-F1C999AB07A1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>百度搜索</string>
			<key>url</key>
			<string>http://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5B30C82A-CEAF-46D7-B491-F79056BD175D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gt</string>
			<key>text</key>
			<string>Google Translate</string>
			<key>url</key>
			<string>https://translate.google.com/?text={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
